<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techway.School | Coming Soon</title>
    <link rel="icon" href="./image/s.png">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/doc.css">
</head>
<body style="background: #0b2243;">
    <header>
        <a href="/home">
            <img src="./image/techway.png" width="100px" alt="techway.school logo">
        </a>
            <nav>
            <ul>
                <li> <a href="./coming"> Agenda </a> </li>
                <li> <a href="./coming"> Chat </a> </li>
                <li> <a href="./coming"> Docs </a> </li>
                <li> <a href="./coming"> Exam </a> </li>
                <li> <a href="./coming"> Room </a> </li>
            </ul>
        </nav>
        <form class="search_bar">
            <input type="search" name="search" id="search">
            <input type="submit" value="ðŸ”">
        </form>
        <div class="user_info">
            <img src="./image/icon.png" width="30px" alt="user_name"> &nbsp;
            <span>User Name</span>
        </div>
    </header>
    <section class="coming-container">
        <div class="coming-text">
            <h1>Coming Soon</h1>
            <hr>
            <h4>The wait is almost over and developers are hard at work to make sure that the website coming soon is absolutely stunning! Get ready for an incredible experience packed full of features, functionality, interactivity, and visual appeal. </h4>
            <hr>
        </div>
        <img src="./image/coming.png" width="50%" alt="">
    </section>
    <footer >
        <p style="color: white;">Techway.school - <a href="./index"style="color: white;">Description</a> - &#169; copyright | Code of Duty </p>
    </footer>
</body>
</html>