<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techway.School | Documentation</title>
    <link rel="icon" href="./image/s.png">
    <link rel="stylesheet" href="./style/doc.css">
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
    <header>
        <a href="/home">
            <img src="./image/techway.png" width="100px" alt="techway.school logo">
        </a>
        <nav>
            <ul>
                <li> <a href="./coming"> Agenda </a> </li>
                <li> <a href="./coming"> Chat </a> </li>
                <li> <a href="./document"> Docs </a> </li>
                <li> <a href="./coming"> Exam </a> </li>
                <li> <a href="./coming"> Room </a> </li>
            </ul>   
        </nav>
        <form class="search_bar">
            <input type="search" name="search" id="search">
            <input type="submit" value="ðŸ”">
        </form>
        <div class="user_info">
            <img src="./image/icon.png" width="30px" alt="user_name"> &nbsp;
            <span>User Name</span>
        </div>
    </header>
    <section class="hello">
        <p>Hello, User Name</p>
        <span> <script> document.write(new Date().toDateString()+"  "+ new Date().toLocaleTimeString());</script> </span>
    </section>    
    <section class="doc-container">
        <div class="upload-btn-wrapper">
            <button class="button create">Create New Doc</button>
            <button class="btn">Upload a file</button>
            <input type="file" name="myfile" />
        </div>
        <div class="head">
            <h2>my Notes</h2>
            <hr>
        </div>
        <div class="row">
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div><div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                    <a href="/" class="button">Edit</a>
                </div>
            </div>
        </div>
        <div class="head">
            <h2>Shared by <span>Dr Amba</span> </h2>
            <hr>
        </div>
        <div class="row">
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                </div>
            </div>
        </div>
        <div class="head">
            <h2>Shared by <span>Dr Zirapha</span> </h2>
            <hr>
        </div>
        <div class="row">
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                </div>
            </div>
            <div class="column">
                <h3>Article Title</h3>
                <div class="article-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, fugiat.....</p>
                    <a href="/" class="button">read</a>
                </div>
            </div>
            
        </div>
    </section>
</body>