<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techway.School</title>
    <link rel="icon" href="./image/s.png">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <header>
        <a href="/">
            <img src="./image/techway.png" width="100px" alt="techway.school logo">
        </a>
                <li> <a class="register" href="register"><b>Register Univ</b></a></li>
        <nav>
            <ul>
                <li> <a href="#home"> Home </a> </li>
                <li> <a href="#description"> Description </a> </li>
                <li> <a href="#demo"> Demo </a> </li>
                <li> <a href="#about"> About us </a> </li>
                <li> <a class="login" href="./login">LogIn</a></li>
                <li> <a class="login" href="./signup">SignUp</a></li>
            </ul>
        </nav>
    </header>
    <section id="home" class="banner">
        <div class="banner-text">
            <h1>Welcome to <br> <span>TechWay</span>.School</h1>
            <p>A web-based solution for students to cultivate their expertise in the same manner as traditional instruction methods.
                <br><br>
                A website that allows you to learn like you would in a classroom setting, but without actually attending one.
            </p>
            <a href="./home.html">
                <button>Try Now</button>
            </a>
        </div>
        <img width="45%" src="./image/baner.png" alt="banner">
    </section>
    <section id="description" class="description">
        <div class="head">
            <h2>Description</h2>
            <span>Here is a rundown of the platforms mechanism.</span>
            <hr>
        </div>
        <div class="students content">
            <img src="./image/student.png" width="50%" alt="student">
            <div class="desp-text">
                <h2>Students Can <hr> </h2>
                <ol>
                    <li>Attend Online classes and create team work video calls.</li>
                    <li>Review recorded classes from thier agenda.</li>
                    <li>Manage thier timetables, courses and study time with the Agenda.</li>
                    <li>View and do Homeworks, Exercises and tests </li>
                    <li>Read Documents, Articles and Notes written durring classes or share from teachers and freinds</li>
                    <li>Chat with freinds, teachers and School administration</li>
                </ol>
            </div>
        </div>
        <div class="teachers content">
            <div class="desp-text">
                <h2>Teachers Can <hr> </h2>
                <ol>
                    <li>Give and plan Online classes</li>
                    <li>Review records of his older classes from agenda</li>
                    <li>Manage thier timetables and work time with the Agenda</li>
                    <li>Create and Correct Homeworks, Exercises and tests Online </li>
                    <li>Create Documents, Articles and Notes for student to read</li>
                    <li>Chat with friends, students, other teachers and School administration</li>
                </ol>
            </div>
            <img src="./image/treacher.png" width="50%" alt="student">
        </div>
        <div class="admin content">
            <img src="./image/administration.png" width="50%" alt="student">
            <div class="desp-text">
                <h2>School Administration Can <hr> </h2>
                <ol>
                    <li>Manage students and teachers</li>
                    <li>Plan Online classes</li>
                    <li>Manage school timetable, and courses for different classes with the Agenda</li>
                    <li>View all Homeworks, Exercises and tests from teachers in database </li>
                    <li>Read Documents, Articles and Notes Shared in on school site</li>
                    <li>Chat with teachers and Students</li>
                </ol>
            </div>
        </div>

    </section>

    <section id="demo" class="demo">
        <div class="head">
            <h2>Demo</h2>
            <span>Have a look at how the platform works.</span>
            <hr>
        </div>
        <div class="video">
            <img width="100%" src="./image/demo.png" alt="">
        </div>
    </section>
    <section id="about" class="about">
        <div class="head">
            <h2>About us</h2>
            <span>Our team is about</span>
            <hr>
        </div>
        <div class="about-body">
            <div class="about-text">
                <h2>We are {Code of Duty/}</h2>
                <p>A Team of young Junoir developer  from JFN - HighTech University Institut participating at the MTN  December 2022 Y’ELLO Digital Talent hackathon   </p>
            </div>
            <img src="./image/team.png" width="60%" alt="">
        </div>
        </section>
        <footer>
            <p>Techway.school - <a href="/">Description</a> - &#169; copyright | Code of Duty </p>
        </footer>
</body>
</html>