<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Techway.School | Sign Up</title>
    <link rel="icon" href="./image/s.png">
    <link rel="stylesheet" href="./style/login-signup.css">
</head>
<body>
    <a class="home" href="./index.html" style="color: #4fb9e9;"> &larr; Home</a>
    <div class="container" style="width: 400px; height: 200px;">
        <form action="confirm" method="post">
            <h1>Set password</h1>
                <br>
                <% if flash[:password] %>
                <div data-alert class="flash">
                    <%= flash[:password] %>
                    <a href="register" class="close">&times;</a>
                </div>
                <% end %>
                <input type="password" name="password" placeholder="Password"/>
                <input type="password" name="Rpassword" placeholder="Confirm Password"/>
                <br>
                <input type="submit" class="button" value="Submit"/>
        </form>
    </div>
    <footer>
        <p>
            Techway.school - <a href="./index.html">Description</a> - &#169; copyright | Code of Duty </p>
    </footer>
</body>
</html>